html,
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
}

.heading {
    margin-top: 40px;
}

h1 {
    color: #FFFFFF;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
}

h2 {
    color: #FFFFFF;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

img {
    width: 90px;
    height: 90px;
}

#input-field {
    background-color: #444059;
    border-radius: 8px;
    border: none;
    width: 317px;
    height: 118px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #8F8F8F;
    padding: 5px 5px 0;
}

.input-container {
    display: flex;
    gap: 5px;
}

#input-to,
#input-from {
    background-color: #444059;
    border-radius: 8px;
    border: none;
    margin-top: 5px;
    width: 156px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #8F8F8F;
}

#input-field::placeholder {
    position: absolute;
    text-align: left;
    vertical-align: top;
    top: 5px;
    left: 5px;
    padding-left: 15px;
    padding-top: 5px;
}


#publish-btn {
    width: 317px;
    height: 61px;
    background: #28A9F1;
    border-radius: 8px;
    border: none;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #04131C;

    text-align: center;
    margin-top: 10px;
}

.endorsements {
    width: 317px;
    height: auto;
    background-color: #FFFFFF;
    text-align: left;
    padding-bottom: 5px;
}

#endorsement {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #1B1924;

}