html,
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.container {
    text-align: center;
}

h1 {
    color: #FFFFFF;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
}

img {
    width: 90px;
    height: 90px;
}